  <div class="containter_det" >
    
    <h2 class="title">Detalhes do Baralho</h2>

    <div class="form_div">
      <form action="">
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Deck Name</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Deck Description</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" class="form_btn">Editar</button>
      </form>
  </div>