
  
  <h2 class="title">Detalhes do Utilizador</h2>
  <div class="containter_det" >
    <div class="form_div">
      <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Name</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="name" value="" required>
            <mat-icon matSuffix>text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Email</mat-label>
            <input matInput placeholder="Placeholder" type="email" formControlName="email" value="" required>
            <mat-icon matSuffix>text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Phone</mat-label>
            <input matInput placeholder="Placeholder" formControlName="phone" type="text" value="" required>
            <mat-icon matSuffix>Number</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" class="form_btn">Editar</button>
      </form>
    </div>

    <div class="form_div">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">New Password</mat-label>
            <input matInput placeholder="Placeholder" type="password" formControlName="password" value="" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label style="color: black;">Repeat Password</mat-label>
            <input matInput placeholder="Placeholder" type="password" formControlName="rep_password" value="" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" class="form_btn">Editar Password</button>
      </form>
    </div>
  </div>