

  <div class="containter_det" >
    
    <h2 class="title">Adicionar Carta</h2>

    <div class="form_div">
      <form action="">
        <p>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Card Value</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>number</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Card Description</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Card Image</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>image</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Deck Name</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" class="form_btn">Adicionar</button>
      </form>
    </div>
  </div>