<div class="containter_det" >
    
    <h2 class="title">Adicionar Exercicio</h2>

    <div class="form_div">
      <form action="">
        <p>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Exercise Name</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>Text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Exercise Description</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>Text</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" class="form_btn">Adicionar</button>
      </form>
    </div>
  </div>