<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="../favicon.ico" alt="Logo of the application">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/decks">Decks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cards">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/exercises">Exercises</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-primary me-2" type="submit">Log In <i class="fas fa-sign-in-alt"></i></button>
          <button class="btn btn-primary" type="submit">Log Out <i class="fas fa-sign-out-alt"></i></button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container-fluid">
  
    <!-- Page Heading -->
    <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
  
    <!-- Content Row -->
    <div class="row">
  
        <!-- Users -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Total Users Blocked</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-ban fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Decks -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Decks</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-clone fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Cards -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Total Cards</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col-auto">
                          <i class="far fa-clone fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
        <!-- Exercises -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Exercises</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">70</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-running fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->